

.Cabecera{
  background-color: rgba(127, 135, 86, 0.738);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
  color: black;
}



#DropdownButton{
  background-color: transparent;
  border: none;
  color: black;
}

#DropdownButton:hover{
  border: none;
}

.Dropdown.Item:hover{
  background-color: 
  rgba(52, 2, 90, 0.934);
}

.logoImg{
  width: 100px;
}

#h1{
  font-size: 35px;
  font-weight: 500;
}

.navFlex{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color:rgba(230, 234, 185, 0.738);
  border-top:1px solid rgb(211, 212, 197);
}

.btn2{
  background-color: transparent;
  border: none;
}

.body{
  background-color:rgba(230, 234, 185, 0.738); 
  height: 100vh;
}

.nav{
  border-bottom: 1px solid rgb(211, 212, 197);
}

.carousel{
  width:95%;
  margin-left:50px;
  margin-top:50px ;
}


.Novedades{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
}

.displayCard{
  display: flex;
  justify-content: space-between;
}

.svgIg1{
  margin-top: 50px;
  display: flex;
  border-bottom: 1px solid rgb(211, 212, 197);
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  
}

.svgIg{
  width: 50px;
}

.flexIg{
  display: flex;
  justify-content: center;
}

.flexIg2{
  width: 400px;
  padding: 20px;
}

.article{
text-align: center;
}